<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213723907379-50qdad69tknk2n9htdh9j31bropj4d9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213723907379-50qdad69tknk2n9htdh9j31bropj4d9l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>213723907379-liguv7if0hopkm7ojpcv51kn9hvtfisc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ7dbefKQN1cosZjQcEtNhtL6JVBJ9By8</string>
	<key>GCM_SENDER_ID</key>
	<string>213723907379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskProject</string>
	<key>PROJECT_ID</key>
	<string>task-project-3d1d7</string>
	<key>STORAGE_BUCKET</key>
	<string>task-project-3d1d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213723907379:ios:fc1e33c60187e9542c2a46</string>
</dict>
</plist>